body {
  font-family: Arial, sans-serif; /* Lettertype toegevoegd */
  margin: 0; /* Verwijder de 8px marge */
  padding: 0;
}

nav {
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: white; /* achtergrondkleur toegevoegd voor betere zichtbaarheid */
  font-family: Arial, sans-serif; /* Lettertype toegevoegd */
  padding: 14px 16px;
}

.logo {
  width: 35%; /* Verwijder vaste breedte */
  margin-right: auto; /* Verwijder de vaste marge aan de rechterkant */
  justify-content: flex-end; /* Blijf het logo aan de rechterkant uitlijnen */
}

.logo img {
  max-width: 100%; /* Zorg ervoor dat de afbeelding niet breder wordt dan de container */
  height: auto; /* Behoud de verhoudingen van de afbeelding */
  width: auto; /* Zorg ervoor dat de afbeelding zijn natuurlijke grootte behoudt */
  max-height: 80px; /* Stel een maximale hoogte in voor het logo */
}

@media screen and (max-width: 768px) { /* Mediaquery voor schermen kleiner dan 768px */
  .logo {
      width: 30%; /* Pas de breedte van het logo aan voor kleinere schermen */
  }
}

@media screen and (max-width: 480px) { /* Mediaquery voor schermen kleiner dan 480px */
  .logo {
      width: 40%; /* Pas de breedte van het logo verder aan voor nog kleinere schermen */
  }
}
  

.nav-item {
  margin-right: 20px;
}

nav a {
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
  font-size: 16px;
  display: inline-block;
  font-family: Arial, sans-serif; /* Lettertype toegevoegd */
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

.separator {
  width: 1px;
  height: 24px;
  background-color: #ccc;
  display: inline-block;
  margin: 0 20px;
}

.right-buttons {
  display: flex;
  gap: 15px;
}

.right-buttons a {
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  padding: 12px 18px;
  display: inline-block;
}

.right-buttons a.login-button {
  background-color: white;
  color: #1a91f0;
}

.right-buttons a.signup-button {
  background-color: #1a91f0;
  color: white;
  border-radius: 4px;
}

.right-buttons a:hover {
  background-color: #ddd;
  color: black;
}
.main {
  display: flex;
  flex-direction: column;
  margin: 1%;
}

.praktijkOndersteuner {
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  margin: 1%;
  padding: 1%;
}

.praktijkOndersteuner img {
  height: 200px;
  width: auto;
}

.praktijkOndersteuner p {
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
  height: 200px;
  margin-left: 2%;
}

.voorlichtingEen {
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  margin: 1%;
  padding: 1%;
}

.voorlichtingEen img {
  height: 200px;
  width: auto;
}

.voorlichtingEen p {
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
  height: 200px;
  margin-right: 2%;
}

.voorlichtingTwee {
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  margin: 1%;
  padding: 1%;
}

.voorlichtingTwee img {
  height: 200px;
  width: auto;
}

.voorlichtingTwee p {
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
  height: 200px;
  margin-left: 2%;
}